@{ 
    Layout = "_layout.cshtml";
}

<h2>Scripted Automated Speech System</h2>

<p>
    If you want SASS on your server,
    <a href=@("https://discordapp.com/oauth2/authorize?client_id=" + ViewBag.ClientID + "&scope=bot&permissions=104061952")>click here</a>.
</p>