@{ 
    Layout = "_layout.cshtml";
}

<h2>Servers</h2>

<ul>
    @foreach (var server in ViewBag.Servers)
    {
        <li>@server.Name - <a href='/images/@server.Id'>images</a> / <a href='/quotes/@server.Id'>quotes</a></li>
    }
</ul>