@{
	Layout = "_layout.html";
}

<h2>@ViewBag.Server.Name</h2>
<p class="back-button">
	<a href="/admin/">back</a>
</p>

<p>
	last command on: @ViewBag.LastCommand
	<br>
	<a href="/admin/quotes/@ViewBag.Server.Id">view quotes</a>
	<br>
	<a href="/admin/images/@ViewBag.Server.Id">view images</a>
</p>

<form action="/admin/leave/@ViewBag.Server.Id" method="post" onsubmit="return confirm('Are you sure you want to do this?');">
	<input type="submit" value="leave server" class="link_button">
</form>

<h3>Bios</h3>
<div>
	<form action="/admin/bio" method="post">
		<span>choose a user: </span>
		<input type="hidden" name="server" value="@ViewBag.Server.Id">
		<select name="user">
			@foreach(var user in ViewBag.Users)
			{
			<option value="@user.Id">@user.Username</option>
			}
		</select>
		<input type="submit" value="edit bio" class="link_button">
	</form>
</div>